@{
    ViewData["Title"] = "Home Page";
}

<style>
    .center {
        border: 5px solid;
        display: flex;
        justify-content: center;
    }

     
</style>

<div class="center">
    <h1>Welcome to SomeShop</h1>
</div>
<br>
<div class="center">
    <h2>Click <a><b>SOME</b></a> category</h2>
</div>
<br>
<div class="center">
<h2>Shop Rules - none</h2>
<div/>  


